* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
}

.navBar {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 15px;
width: 90%;
border-bottom: solid 1px #999;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.logoText {
  font-size: 22px;
}

.logo {
  height: 60px;
  width: 60px;
}

.navigationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.navigationItem {
 list-style: none;
}
